@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* about */

html {
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 700px;
    margin: 0 auto 40px auto;
}

p {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 140%;
}

h1, h2, h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    display: none;
}

h2 {
    font-size: 32px;
    font-family: "Roboto";
    color: rgb(42, 42, 42);
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

/* index */

/* header */

.header {
    background-color: #2a2a2a;
}

.header__wrapper-logo {
    width: 35px;
    height: 38px;
    display: block;
    color: white;
    background-image: url(/images/icons/logo.svg);
}

.header__wrapper-logo:hover {
    cursor: pointer;
    opacity: 0.4;
}

.reviews__wrapper {
    margin: 55px 0 30px 0;
    display: flex;
    gap: 30px;
}

.review {
    width: 468px;
    height: 136px;
    background-color: #f4efed;
    padding: 40px 60px 40px 40px;
}

.review__author {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.review__author-awatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review-text, .review__author__data-name, .review__author__data-date {
    font-size: 16px;
    color: rgb(42, 42, 42);
    line-height: 1.375;
    text-align: left;
}

.review-text {
    width: 458px;
    height: 59px;
}
  
.review__author__data-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.review__author__data-date {
    font-size: 14px;
    line-height: 1.429;
}
  
  