@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* header */

.header {
    background-color: #2a2a2a;
}


.header__wrapper, .footer__wrapper, .our_apartments__wrapper, .reviews__wrapper {
    width: 1150px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu-logo {
    width: 35px;
    height: 38px;
    display: block;
    color: white;
    background-image: url(../images/icons/logo.svg);
    margin-top: 21px;
    margin-bottom: 21px;
}

.main-menu {
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

.main-menu li a, .telephone-number {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
  
.main-menu-logo:hover {
    cursor: pointer;
    opacity: 0.4;
}

.telephone-number::before {
    content: url(../images/icons/icon-phone.svg);
    margin-right: 10px;
}

.main-menu li a:hover, .telephone-number:hover {
    color: rgba(255, 255, 255, .4)
}

.button {
    padding: 12px 22px;
    color: rgb(255, 255, 255);
    background-color: #2a2a2a;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    font-size: 15px;
}

.button:hover {
    opacity: .4;
    cursor: pointer;
}

.header__contacts {
    display: flex;
    gap: 49px;
    align-items: center;
}

/* заголовки */
  
h1 {
    display: none;
}

h2 {
    font-size: 32px;
    font-family: "Roboto";
    color: rgb(42, 42, 42);
    font-weight: bold;
    padding-top: 50px;
}

/* apartments  */

.our_apartments {
    background-color: #f5f5f5;
}

.our_apartments__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apartments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
    margin-top: 50px;
}

.apartment {
    width: 364px;
    background-color: #ffffff;
}

.apartment:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.apartment-foto {
    width: 364px;
}

.apartment-room, .apartment-adress {
    font-size: 18px;
    color: rgb(42, 42, 42);
    font-weight: bold;
}

.guests, .sleeper {
    font-size: 14px;
    color: rgb(42, 42, 42);
}

.guests::before {
    content: url(../images/icons/icon-guests.svg);
    height: 12px;
    margin-right: 10px;
}

.sleeper::before {
    content: url(../images/icons/icon-beds.svg);
    height: 12px;
    margin-right: 10px;
}

.apartment-data-places {
    display: flex;
    gap: 11px;
    margin-top: 18px;
}

.apartment-data {
    margin: 30px 0 40px 40px
}

.our_apartments__wrapper .button {
    color: rgb(42, 42, 42);
    background-color: #f5f5f5;
    border-color: #383838;
    margin-top: 40px;
    margin-bottom: 40px;
}

.our_apartments__wrapper .button:hover {
    color: #f5f5f5;
    background-color: #383838;
}

/* reviews */

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__wrapper {
    margin-top: 55px;
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
}

.review {
    background-color: #f4efed;
    padding: 40px 60px 40px 40px;
}

.review__author {
    display: flex;
    gap: 15px;
    padding-top: 20px;
}

.review__author-awatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review-text, .review__author__data-name, .review__author__data-date {
    font-size: 16px;
    color: rgb(42, 42, 42);
    line-height: 1.375;
    text-align: left;
}

.review-text {
    width: 458px;
}
  
.review__author__data-name {
    font-weight: bold;
    padding-bottom: 10px;
}

.review__author__data-date {
    font-size: 14px;
}

.pagination div {
    border-radius: 50%;
    background-color: #c6c6c6;
    width: 9px;
    height: 9px;
}

.pagination div:first-child {
    background-color: rgb(27, 27, 28);
}

.pagination {
    display: flex;
    gap: 16px;
}
  
.reviews .button {
    color: rgb(42, 42, 42);
    background-color: #ffffff;
    border-color: #2a2a2a;
    margin-bottom: 40px;
    margin-top: 40px;
}

.reviews .button:hover {
    color: #ffffff;
    background-color: rgb(42, 42, 42);
}

/* footer */

.footer {
    background-color: #1b1b1c;
}

.footer__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 60px;
}

.footer__menu-contacts {
    display: flex;
    align-items: center;
    gap: 76px;
}

.address {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: right;
}

.address::before {
    content: url(../images/icons/icon-mapmarker.svg);
    margin-right: 11px;
    
}

.contacts {
    display: flex;
    gap: 30px;
}

.footer__contacts .telephone {
    margin-bottom: 20px;
}

.footer__menu nav .main-menu .main-menu-logo {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer .contacts li a {
    display: block;
}

.footer .contacts a:hover {
    opacity: 0.4;
}

.contacts-email {
    width: 16px;
    height: 13px;    
    background-image: url(../images/icons/icon-mail.svg);
}

.contacts-vk {
    width: 22px;
    height: 12px;
    background-image: url(../images/icons/icon-vk.png);
    
}

.contacts-fb {
    background-image: url(../images/icons/icon-fb.png);
    width: 14px;
    height: 14px;
}

.contacts-insta {
    background-image: url(../images/icons/icon-insta.png);
    width: 14px;
    height: 14px;
}

.footer__line {
    border-top: 1px solid #323233;
}

.rules {
    display: flex;
    gap: 21px;
    justify-content: center;
    padding-top: 34px;
    padding-bottom: 30px;
}

.rules-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    cursor: pointer;
}